@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'arvo', serif;
}

/* header */
.navbar-brand {
    font-size: 1.5rem;
}


nav-link {
    font-size: 1.2rem;
}
header img{
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

/* home */
/* custom.css */
#home {
    background-image: url(../img/original.jpg);
    /* background-image: url('../img/original.jpg'); */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Adjust as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Ensures text is visible on a dark background */
    text-align: center;
    padding: 20px; /* Adjust as needed */
   
}

#home{
    width: 100%;
    min-height: 100vh;
}
#particles-js{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 80;
    left: 0;
 background: #527cec;

}
#name{
    margin-top: 16rem;
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}
#tagline{
margin-top: 1rem;
font-size: 2rem;
color: whitesmoke;
text-align: center;
}
#learn-more{
padding: .4rem 1rem; 
max-width: 10rem;
margin: 0 auto;
display: block;
border: 2px solid rgb(21, 13, 255);  
border-radius: 1rem;
color:whitesmoke;
text-decoration: none;
text-align: center;
}
#learn-more:hover{
    text-decoration: none;

}
/* resume */
#resume{
    width: 100%;
    height: auto;
    padding: 3rem 0;
}
#resume .cv{
    justify-content: center;
    text-align: center;
    padding: 20px;
    

}
#resume .cv img{
    padding: 20px;
}
#resume .card{
  margin-left: auto;
  margin-right: auto;  
}
/* skills */
#skills{
 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:whitesmoke;
 
   
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 30px;
    justify-content: center;
}

.skill-name{
    font-size: 18px;
    color:#000;
    text-transform: uppercase;
    margin: 20px 0;
}
.skill-bar
{
    height: 14px;
    background: #282828; 
    border-radius: 3px;
}
.skill-per{
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2s;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}
.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: whitesmoke;
    top: -20px;
    right: 0;
    transform: translateX(50%)rotate(45deg);
    border-radius: 2px;
}
@ketframes fillBars{
    form{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* portfplio */
#portfolio{
    width: 100%;
    height: auto;
    padding: 4rem 0;
}
#portfolio img{
    margin-top: 30px;
    width: 100%;
    height: 220px;
}
#portfolio .grid{
    position: relative;
    width: 100%;
}
#portfolio .grid .overlay{
    position: absolute;
    margin-top: 30px;
    top: 0;
    bottom: 0;left: 0;right: 0;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: #0043fd;
}
#portfolio .grid:hover .overlay{
    opacity: 1;
}
.text{
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#contact{
    width: 100%;
    height: auto;
    padding: 4rem 0;
}
#contact form
{
width: 100%;
}
#contact form input , 
#contact form textarea{
    background-color: #e8edfc;
}
#contact form .submit-message{
    margin-left: 15px;
    margin-right: 15px;
    background-color: #527cec;
    color: #fff;

}
/* footer */
footer{
    width: 100%;
    height: auto;
    background: #e8edfc;
    padding: 2rem 0 4rem;
    /* border: 4px solid;
    border-radius: 10px; */
}
footer ul{
    list-style: none;
    padding: 0;

}
footer .back-to-top{
display: block;
width: 100%;
text-align: center;
text-decoration: none;
color: #333;

}
footer .back-to-top:hover{
    text-decoration: none;
    color: #527cec;
}
footer ul#social{

    list-style: none;
    padding-left: 0;
    text-align: right;
}
footer ul#social li{
    display: inline-block;
    margin: left 1rem; ;
}
footer ul#social a{
    text-decoration: none;
  
    font-size: 2rem;

}
footer ul #social a:hover{
    text-decoration: none;
    color: #527cec;
}
footer a,
footer p{
    color: #333;
}
footer .design{
    text-align: left;
}
footer  a:hover{
    color:#527cec ;
}
footer p {
    text-align: right;
}
