/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Base styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arvo', serif;
    width: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 70px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}


/* Dark Mode Styling */
body.dark {
    background-color: black;
    color: white;
}

body.dark footer,
body.dark #skills,
body.dark .card,
body.dark .contact-info ul li,
body.dark .social-links a {
    background-color: #1e1e1e;
    color: #ffffff;
}

body.dark .skill-bar .skill-per {
    background-color: #ffffff;
}

/* Light Mode Styling */
body.light {
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h6 {
    margin: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 10px;
}

/* Header */
header img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.navbar {
    transition: top 0.3s;
}

/* Home section */
#home {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    text-align: center;
    padding: 15px;
    position: relative;
}

#particles-js {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #527cec;
}

#name {
    font-size: 4rem;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

h6 {
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 10px yellow;
    font-family: sans-serif;
    font-weight: bold;
}

#home span {
    color: yellow;
    animation: colorful 6s infinite;
}

@keyframes colorful {
    100% {
        filter: hue-rotate(360deg);
    }
}

#tagline {
    margin-top: 1rem;
    font-size: 2rem;
    color: whitesmoke;
    text-align: center;
}

#learn-more {
    padding: .4rem 1rem;
    max-width: 10rem;
    margin: 0 auto;
    display: block;
    border: 2px solid rgb(21, 13, 255);
    border-radius: 1rem;
    color: whitesmoke;
    text-align: center;
}
/* photo  */


/* .team .heading {
    color: #00bfff;
    font-size: 3em;
    font-weight: bold;
    position: relative;

}

.team .heading::before,
.team .heading::after {
    border-color: #00bfff;
}

.team .row {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team .row .card {
    height: 35rem;
    width: 25rem;
    background-color: #fff;
    text-align: center;
    margin: 5rem 5rem;
    position: relative;
    overflow: hidden;
    -webkit-box-reflect: below 5px linear-gradient(transparent 70%, #0004);
    transition: 0.5s;
    display: flex;
}

.team .row .card:hover {
    transform: translateY(-10px);
    cursor: pointer;
} */


.team .row .photo .image {
    margin: 1rem 0;
    padding-top: 4rem;
   
}

.team .row .photo .image img {
    height: 23rem;
    width: 23rem;
    border-radius: 50%;
    border: .5rem solid #fff;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .3);
    object-fit: cover;
    
}
.team .row .photo .info .icons a {
    margin-top: 2rem;
    padding-top: 0 1rem;
    font-size: 2rem;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team .row .photo .info .icons .fa-facebook-f:hover,
.footer .icons .fa-facebook-f:hover {
    color: #4267B2;
    text-decoration: none;
}

.team .row .photo .info .icons .fa-twitter:hover,
.footer .icons .fa-twitter:hover {
    color: #1DA1F2;
    text-decoration: none;
}

.team .row .photo .info .icons .fa-instagram:hover,
.footer .icons .fa-instagram:hover {
    color: #C13584;
    text-decoration: none;
}

.team .row .photo .info .icons .fa-linkedin:hover,
.footer .icons .fa-linkedin:hover {
    color: #2867B2;
    text-decoration: none;
}


/* .team .row .card .info h3 {
    font-size: 2rem;
    color: #333;
}

.team .row .card .info span {
    font-size: 1.8rem;
    color: #00bfff;
}

.team .row .card .info .icons a {
    margin-top: 4rem;
    padding-top: 0 1rem;
    font-size: 2rem;
    color: #333;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.team .row .card .info .icons .fa-facebook-f:hover,
.footer .icons .fa-facebook-f:hover {
    color: #4267B2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-twitter:hover,
.footer .icons .fa-twitter:hover {
    color: #1DA1F2;
    text-decoration: none;
}

.team .row .card .info .icons .fa-instagram:hover,
.footer .icons .fa-instagram:hover {
    color: #C13584;
    text-decoration: none;
}

.team .row .card .info .icons .fa-linkedin:hover,
.footer .icons .fa-linkedin:hover {
    color: #2867B2;
    text-decoration: none;
}

.team .row .card::before,
.team .row .card::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 13.5rem;
    width: 13.5rem;
    z-index: -1;
}

.team .row .card::before {
    background: #00bfff;
    top: -3rem;
    right: -4rem;
}

.team .row .card::after {
    background: #ccc;
    bottom: -3rem;
    left: -4rem;
} */


/* Responsive Styles */
@media (max-width: 767px) {
    .team {
        padding: 10px; /* Reduces padding on smaller screens */
    }

    .photo {
        width: 100%; /* Makes the photo container take full width on small screens */
        margin-bottom: 20px; /* Maintains space below the photo */
    }

    .image img {
        max-width: 150px; /* Reduces the maximum width of the image on small screens */
    }

    .icons a {
        font-size: 20px; /* Reduces icon size on small screens */
    }
}

/* Resume section */
#resume {
    width: 100%;
    padding: 0rem 0;
    text-align: center;
    background-color: #f7f7f7;
}

#resume .cv img {
    padding: 20px;
    max-width: 100%;
}

#resume .card {
    margin: 0 auto;
}

.download {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    color: white;
    background-color: #527cec;
    border-radius: 20px;
    text-decoration: none;
}

.download:hover {
    background-color: #0056b3;
    color: #000;
}

/* Skills section */


#skills {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#f7f7f7;
    padding: 30px;
}

.skills {
    width: 100%;
    max-width: 600px;
    padding: 30px;
}

.skill-name {
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    margin: 20px 0;
}

.skill-bar {
    height: 14px;
    background: #282828;
    border-radius: 3px;
    overflow: hidden;
}

.skill-per {
    height: 14px;
    background: #d13639;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2s;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: whitesmoke;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

/* Portfolio section */
.portfolio {
    position: relative;
    padding: 90px 0 0px 0;
    background: #f7f7f7;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-header h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}

.section-header p {
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.portfolio .portfolio-item:hover {
    transform: translateY(-10px);
}

.portfolio .portfolio-img {
    position: relative;
    background: #000;
    overflow: hidden;
    border-radius: 5px;
}

.portfolio .portfolio-img img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.portfolio .portfolio-img .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .portfolio-img .link-preview,
.portfolio .portfolio-img .link-details {
    position: relative;
    margin: 0 10px;
    padding: 10px;
    background: #4F84C4;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 1;
    transition: background 0.3s ease;
}

.portfolio .portfolio-img .link-preview:hover,
.portfolio .portfolio-img .link-details:hover {
    background: #fff;
    color: #4F84C4;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.1);
}

.portfolio .portfolio-item:hover .portfolio-img .overlay {
    opacity: 1;
}

.portfolio .portfolio-info {
    position: relative;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.portfolio .portfolio-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
}

.portfolio .portfolio-info p {
    font-size: 14px;
    color: #999;
    text-transform: uppercase;
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .portfolio .portfolio-item {
        margin-bottom: 20px;
    }

    .portfolio .portfolio-info h3 {
        font-size: 18px;
    }

    .portfolio .portfolio-info p {
        font-size: 12px;
    }
}




/* Contact section */
h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #333;
}
#contact {
    width: 100%;
    padding: 4rem 0;
    background-color: #f7f7f7;
}

#contact form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 15px;
}

#contact form input,
#contact form textarea {
    width: 100%;
    background-color: whitesmoke;
    margin: 10px 0;
    padding: 10px;
    border: none;
}

.submit-message {
    color: #fff;
    border: 2px solid #e8edfc;
    padding: 10px 20px;
    background-color: #527cec;
    cursor: pointer;
}

/* Footer */
footer {
    width: 100%;
    background:whitesmoke;
    padding: 2rem 0 4rem;
}

footer ul {
    text-align: left;
}

footer .back-to-top {
    display: block;
    text-align: center;
    color: #333;
}

footer .back-to-top:hover {
    color: #527cec;
}

footer ul#social {
    text-align: center;
    padding: 0;
}

footer ul#social li {
    display: inline-block;
    margin: 0 1rem;
}

footer ul#social a {
    font-size: 2rem;
}

footer ul#social a:hover {
    color: #527cec;
}

footer p {
    text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
    #name {
        font-size: 3rem;
    }

    h6 {
        font-size: 2rem;
    }

    #tagline {
        font-size: 1.5rem;
    }

    footer p {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .download {
        width: 100%;
    }

    #contact form input,
    #contact form textarea {
        padding: 8px;
    }
    iframe {
        width: 100%;
        height: 300px; /* Adjust height of map on smaller screens */
      }
}

/* Loader */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9999;
}

.loading-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
}

.loading-text span {
    display: inline-block;
    margin: 0 5px;
    animation: blur-text 1.5s infinite linear alternate;
}

@keyframes blur-text {
    0% {
        filter: blur(0px);
    }
    100% {
        filter: blur(4px);
    }
}
  /* for backgroundanmation */
  .bgAnimation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    background: #1d1d1d;
    filter: saturate(2);
    overflow: hidden;
}

.colorBox{
    z-index: 2;
    filter: brightness(1.1);
    transition: 2s ease;
    position: relative;
    margin: 2px;
    background: #1d1d1d;
}

.colorBox:hover{
    background: #00bfff;
    transition-duration: 0s;
}

.backgroundAmim{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #00bfff;
    filter: blur(60px);
    animation: animBack 6s linear infinite;
}

@keyframes animBack {
    0%{
        top: -60px;
    }
    100%{
        top: 120%;
    }
}